#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-wrap {
    flex: 1;
    width: 75%;
    margin: 1rem auto;
}

#footer {
    background-color: ghostwhite;
    position:relative;
    padding-top: 1rem;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#component_shiftCreator{
    margin-bottom: 1rem;
}

.timeRangePicker_workedTime .ant-picker-input {
    min-width: 2.5rem;
    width: inherit;
}

.timeRangePicker_workedTime .ant-picker-range-separator {
    display: inline-flex;
    padding: 0 .5rem 0 0;
}